extends layout

block content

  .home-page.col-xs-12(ng-controller="profileController" ng-init="init()")
    .img-container.img-perfil-responsive
      //img(src='/images/plaza.jpg', alt='Smiley face', height='100%', width='100%')
      .img-header
      .black-cover
        .user-publication
          a( class='col-xs-12 text-align-c img-perfil-container')
            //img.circle(src='')
            img.circle(src=`/publications/getImages/${user.profilePicture}`)
          p(class="name-class-perfil") {{userInfo.name}}
    .col-xs-12.text-align-c.new-pub
      p.col-xs-12.p-new Aqui puedes editar tu Información
      form
        .row.col-xs-12
          .input-field.col.s12(name=title)
            label.active.label-act(for='title') Nombre
            input#title.validate.name-change-test(type='text', placeholder, value="{{userInfo.name}}", name="name", ng-model="userInfo.name")
        .row.col-xs-12
          .input-field.col.s12(name=email)
            label.active.label-act(for='title') Correo
            input#title.validate(type='email', placeholder, disabled, value="{{userInfo.email}}")
        .row.col-xs-12
          .input-field.col.s12(name=newPassword)
            label.active.label-act(for='title') Nueva Contraseña
            input#title.validate.new-psw-change-test(type='password', placeholder, name="password", ng-model="password")
        .row.col-xs-12
          .input-field.col.s12(name=confirmPassword)
            label.active.label-act(for='title') Confirma Contraseña
            input#title.validate.confirm-new-psw-change-test(type='password', placeholder, ng-model="confirmPassword")
        .col-xs-12
          form.col-md-12(action='#')
            p.description-p Nueva imagen de perfil
            .file-field.input-field
              .btn
                span Img
                input.img-change-test(name="profilePicture",type='file',ng-click="click()")
              .file-path-wrapper
                input.file-path.validate(type='text')
        .col-xs-12.text-center.m-t-30
          a(href="#", class="btn btn-primary", data-toggle="modal", data-target=".register-modal", ng-click="saveUser()") GUARDAR
    .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.bgm-blue.tippy-up(href="#", title="Ir hacia arriba")
        i.fa.fa-angle-up.icon-go-top
