extends ../layout

block content

  .home-page.col-xs-12(ng-controller="commentsController" ng-init=`init('${id}')`)
    .img-container
      img(src=`/publications/getImages/${publication[0].imageBackground}`, alt='Smiley face', height='100%', width='100%')
      .img-header
      .black-cover
        p(class="title-class") #{publication[0].title}
        a.like-press
          i.fa.fa-heart(aria-hidden='true')
    .col-md-3
      .user-publication
        a(href='#', class='col-xs-12 text-align-c')
          img.circle(src=`/publications/getImages/${userData[0].profilePicture}`)
        a(href='#!name',class='col-xs-12 text-align-c')
          span.name-autor.m-t-25.col-xs-12   #{userData[0].name}
          span.name-date.m-t-10.col-xs-12  12/03/2017

    .col-md-9
      .article-container
        label.label-article #{publication[0].title}
        p.text-container #{publication[0].content}
    .col-xs-12.carousel-cont.article-container.m-b-70.m-t-30.z-index-9
      .carousel
        a.carousel-item(href='#one!')
          //`/users/show/${user._id}`
          img(src=`/publications/getImages/${publication[0].imageSlider[0]}`, class="materialboxed")
        a.carousel-item(href='#two!')
          img(src=`/publications/getImages/${publication[0].imageSlider[1]}`, class="materialboxed")
        a.carousel-item(href='#three!')
          img(src=`/publications/getImages/${publication[0].imageSlider[2]}`, class="materialboxed")
        a.carousel-item(href='#four!')
          img(src=`/publications/getImages/${publication[0].imageSlider[3]}`, class="materialboxed")
        a.carousel-item(href='#five!')
          img(src=`/publications/getImages/${publication[0].imageSlider[4]}`, class="materialboxed")
    .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.bgm-blue.tippy-up(href="#", title="Ir hacia arriba")
        i.fa.fa-angle-up.icon-go-top
    .col-xs-12.article-container
      p.comment-title.col-xs-12 COMENTARIOS
        .comment-container
          .comment.col-xs-12(ng-repeat="comment in comments")
              p.name {{comment.author.name}}
              p.content {{comment.content}}
          .row
            form.col.s12
              .row
                .input-field.col.s12
                  textarea#textarea1.materialize-textarea(data-length="1000", ng-model="vm.object.content")
                  label(for='textarea1') Escribe un comentario genial
          .col-xs-12.text-center
            a.btn.btn-primary.m-b-50(href="",ng-click="newComment(vm.object)") COMENTAR
